.App {
    background-color: #101010;
    color: #fff;
    padding: 2rem;
}


/* Navbar at the top */

.navbar {
    padding-bottom: 1rem;
    border-bottom: 1px solid #585858;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* The Banner Image */

.banner {
    margin-top: 1rem;
    padding: 0.3rem;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* The Title and Its Details,Ratings and Review */

.hero {
    padding: 1rem;
    margin-top: 3rem;
}

.hero__title {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
}

.hero__details {
    margin: 1.5rem 0;
    font-family: 'Belgrano', serif;
}

.hero__price {
    margin: 2rem 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.hero__price p {
    font-size: 2.5rem;
}

.hero__price p:first-child {
    font-weight: 700;
}

.hero__price p:last-child {
    color: #3C464F;
    font-weight: 300;
    text-decoration: line-through;
}

.hero .review {
    display: flex;
    align-items: center;
}

.rating {
    background-color: #079741;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.review p {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-right: 0.4rem;
}

.review span {
    opacity: 50%;
    font-size: 0.6rem;
}


/* The Two Cards of 1 Month And 3 Month */

.card1 {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: #21272C;
}

.card2 {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 2px solid #fff;
    background-color: #374B5B;
}

.card__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 0.3rem;
    font-size: 0.6rem;
    border-radius: 1rem;
    background: #067BD8;
}

.card__body {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.card__body h3 {
    font-size: 0.9rem;
}

.card__label span {
    margin: 0 0.3rem;
}

.card__details {
    display: flex;
    flex-direction: column;
}

.card__values {
    margin: 0.5rem 0;
    display: flex;
    gap: 1rem;
    color: #24DB6D;
}

.card__savings {
    margin: 0.5rem 0;
}

.card__offer {
    color: #DB9D24;
}

.card__price {
    margin: 0.8rem 0;
    font-family: 'DM Serif Display';
}

.card__price p {
    font-size: 1.5rem;
}

.card__price p:last-child {
    text-decoration: line-through;
    border: #fff;
    color: #4C6070;
}

.card__contanier {
    display: grid;
    align-items: center;
    grid-template-columns: 87% 10%;
    gap: 1rem;
}


/* The Last Add To Cart button */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 0 0;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    gap: 0.5rem;
    background-color: #13324A;
}